body {  
    background-color: #fff;  color: rgba(0,0,0,0.8);
  }
  .dark-mode body { 
     background-color: #091a28;  color: #ebf4f1;
  }
  .sepia-mode body {  
    background-color: #f1e7d0;  color: #433422;
  }
  .grey-mode body {  
    background : rgb(247, 247, 247) linear-gradient(to right, rgb(230, 230, 230), white);
  }

  .page-enter-active{
    transition: opacity 0.5s;
  }
  .page-leave-active {
    transition: opacity 0.5s;
  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
  }

  .layout-enter-active,
  .layout-leave-active {
    transition: opacity 0.5s;
  }
  .layout-enter,
  .layout-leave-to {
    opacity: 0;
  }
 /* Enter and leave animations can use different */
/* durations and timing functions.              */
  .slide-enter-active {
    transition: all .3s ;
  }
  .slide-leave-active {
    transition: all .8s;
  }
  .slide-enter-from, .slide-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-100%);
    opacity: 0;
  }

  .rotate-enter-active,
  .rotate-leave-active {
    transition: all 0.4s;
  }
  .rotate-enter-from,
  .rotate-leave-to {
    opacity: 0;
    transform: rotate3d(1, 1, 1, 15deg);
  }



  